@use "/src/sass/base/variables.scss" as *;

.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__logo {
    width: 100px;
    height: 100px;
  }

  &__icons {
    display: flex;
    column-gap: 15px;

    a {
      display: block;
      color: $dark;

      span {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__nav {
    display: none;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    padding: 114px 20px 50px 24px;
    background-color: $light;
    transition: transform 0.5s;

    &_active {
      transform: translateX(100%);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding-left: 0;
      list-style-type: none;
    }

    a {
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: $dark;
      text-decoration: none;
    }
  }
}

.burger {
  position: relative;
  width: 20px;
  height: 20px;
  padding-right: 55px;

  span {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 20px;
    height: 1px;
    background-color: $dark;
    transition: all 0.5s;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: $dark;
    transition: all 0.5s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &_active {
    span {
      display: none;
    }

    &::before {
      top: 45%;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 50%;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__nav {
      display: block;
      margin-top: 20px;

      ul {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding-left: 0;
        list-style-type: none;
      }
    }

    &__link {
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: $dark;
      font-style: normal;
      line-height: normal;
      text-decoration: none;
    }

    &__menu {
      display: none;
    }
  }

  .burger {
    visibility: hidden;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &__logo {
      width: 150px;
      height: 151px;
    }

    &__nav {
      margin-top: 36px;

      ul {
        column-gap: 60px;
      }
    }
  }
}